<nav class="navbar navbar-expand-md navbar-light fixed-top">
    <a class="navbar-brand" >Welcome To My Friend App!</a>
    <div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="authService.loggedIn"> 
          <a class="nav-link" routerLink="/movie">Movie <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contactus">Contact Us</a>
        </li>
        <li class="nav-item" *ngIf="!authService.loggedIn">
            <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="authService.loggedIn"> 
            <a class="nav-link cursors" (click)="onLogout();">Logout <span class="sr-only">(current)</span></a>
        </li>
      </ul>    
    </div>
  </nav>
  