<h4>Movie List</h4>
<div class="container">
  <div class="row">
      <div class="col-sm-3">
          <a class="btn btn-success" routerLink="/new">New Movie</a>
      </div>
      <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <select [(ngModel)]="seachField" (ngModelChange)="onSelectType(seachField)" class="col-sm-12 floatLeft form-control">
                  <option value="" disabled>Select a search type...</option>
                  <option value="title">Title</option>
                  <option value="genre">Genre</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                  <input type="text" id="username" [(ngModel)]="searchStr" [attr.disabled]=disableTxt class="form-control" placeholder="search">          
              </div>
            </div>
          </div>
      </div>
      <!-- <div class="col-sm-4">
          <div class="form-group row">
            <label for="inputName" class="col-sm-4 form-control-label labelName">Movie Title :</label>
            <div class="col-sm-8">
                <select [(ngModel)]="genre" (ngModelChange)="onSelect(genre)" class="col-sm-12 floatLeft form-control">
                  <option value="" disabled>Select a genre type...</option>
                  <option *ngFor="let genre of genreAll" 
                            [value]="genre"> 
                      {{ genre }}
                    </option>
               </select>
            </div>
          </div>
      </div> -->
    <div class="col-sm-12">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movie of allMovie | find:seachField:searchStr" [appHoverHighlight]="{background: '#cccccc' , text: 'white'}">
            <th scope="row">{{ movie.id }}</th>
            <td>{{movie.title}}</td>
            <td>{{movie.genre}}</td>
            <td><button (click)="onViewDetail(movie.id)" class="btn btn-success">View</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<section>

</section>
