<section>
  <h4>View Movie</h4>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <div class="form-group row">
          <label for="inputName" class="col-sm-3 form-control-label labelName">Movie Title :</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputName" #title value="{{selectedMovie.title}}" [readonly]="true">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputEmail" class="col-sm-3 form-control-label labelName">Actor :</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputEmail" #actor value="{{selectedMovie.actor}}" [readonly]="true">
          </div>
          
        </div>
        <div class="form-group row">
          <label for="inputContact" class="col-sm-3 form-control-label labelName">Studio :</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputContact" #studio value="{{selectedMovie.studio}}" [readonly]="true">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputContact" class="col-sm-3 form-control-label labelName">Year :</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="inputContact" #year value="{{selectedMovie.year}}" [readonly]="true">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputContact" class="col-sm-3 form-control-label labelName">Genre Name :</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputContact" #genre value="{{selectedMovie.genre}}" [readonly]="true">
          </div>
        </div>
        <div class="form-group row">
            <label for="inputContact" class="col-sm-3 form-control-label labelName">Genre Description:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputContact" #genreDesc value="{{selectedMovie.genreDesc}}" [readonly]="true">
            </div>
          </div>
          <div class="form-group row">
              <label for="inputContact" class="col-sm-3 form-control-label labelName">Image Url :</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="inputContact" #imgUrl value="{{selectedMovie.imgUrl}}" [readonly]="true">
              </div>
            </div>
        <button type="Add" *ngIf="showAdd" class="btn btn-success submitRight" (click)="onAddMovie(title, actor, studio, year, genre, genreDesc, imgUrl)">Submit</button>
          <button type="Add" *ngIf="showUpdate" class="btn btn-success submitRight" (click)="onAddMovie(title, actor, studio, year, genre, genreDesc, imgUrl)">Update</button>
          <a *ngIf="showUpdate" class="btn btn-success mRight submitRight" routerLink="/movie">Back to List</a>
        </div>
    </div>
  </div>  
</section>
