<img 
src="/assets/img/banner.jpg" 
alt=""
style="max-width: 50%">
<h1>Movie Collection</h1>
<h4>Movie collection.You can get all movie genres here.</h4>
<h4>Through this website, you will get latest movie and upcoming movies you want to see.</h4>